@{
    ViewData["Title"] = "Home Page";
}


<a asp-controller="Home" asp-action="YasGrubu" class="btn btn-success"> Yas Grubu Hesaplama </a>

<a asp-controller="Home" asp-action="CreateProduct" class="btn btn-success"> Create Product </a>






@* <form asp-controller="Home" asp-action="VerileriAl" method="post">
    <label for="">Ad</label>
    <input type="text" name="txtAd" >
    <label for="">Yas</label>
    <input type="text" name="txtYas" >
    @* <input type="submit" value="Gönder"> 
    <button type="submit">Gönder</button>
</form> *@
