@{
    ViewData["Title"] = "YasGrubu";
}


<h1>Yas Grubu Hesaplama</h1>
<hr>


<form asp-controller="Home" asp-action="YasGrubu" method="post">
    <label for="" class="form-label">Yaş</label>
    <input type="text" class="form-control" name="yas">
    <label for="" class="form-label">Ad</label>
    <input type="text" class="form-control" name="ad">

    <input type="submit" value="Hesapla" class="btn btn-primary mt-3">
</form>
    @if (@ViewBag.YasGrubu !=null)
    {
         <div class="alert alert-success">@ViewBag.YasGrubu</div>
    }
   
