.btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: 0.5s;

}
/*Primary Button*/
.btn-primary{
    background-color:#DD5353 ;
    color: #EDDBC0;
    border: 2px solid #DD5353;
}
.btn-primary:hover{
    background-color: #EDDBC0 ;
    color: #DD5353;

}
/*Primary Outline Button*/
.btn-outline-primary{
    background-color:#EDDBC0 ;
    color: #DD5353;
    border: 2px solid #DD5353;
}
.btn-outline-primary:hover{
    background-color: #EDDBC0 ;
    color: #DD5353;

}
.btn-secondary{
    background-color:#25316D ;
    color: #EDDBC0;
    border: 2px solid #25316D;
}
.btn-secondary:hover{
    background-color: #EDDBC0 ;
    color:  #25316D;
}
.btn-outline-secondary{
    background-color:#25316D ;
    color: #EDDBC0;
    border: 2px solid #EDDBC0;
}
.btn-outline-secondary:hover{
    background-color:  #25316D ;
    color:  #EDDBC0;
}