@using OzelDers.Web.Models.Dtos
@model TeacherDto
<div class="card mb-2" style="height:300px;">

    <div class="card-body">
        <h5 class="card-title text-center">@Model.FirstName</h5>
        <div class="text-muted text-center">@Model.LastName</div>
        <div class="text-muted text-center">@Model.Location</div>
        <div class="text-muted text-center">@Model.PricePerHour</div>

    </div>

</div>
