<div class="p-4 text-center">
    <a class="btn btn-outline-dark fs-4"
       style="width:150px; height:150;"
       asp-area="Admin"
       asp-controller="Branch"
       asp-action="Index">Dersler</a>
</div>
