<div class="p-4 text-center">
    <a class="btn btn-outline-dark fs-4"
       style="width:170px; height:150;"
       asp-area="Admin"
       asp-controller="Branch"
       asp-action="Index">Dersler</a>
</div>
<div class="p-4 text-center">
    <a class="btn btn-warning fs-4"
       style="width:170px; height:150;"
       asp-area="Admin"
       asp-controller="Teacher"
       asp-action="Index">Öğretmenler</a>
</div>