
@model TeacherUpdateDto

<h1 class="text-center">Öğretmen Bilgileri Güncelleniyor</h1>
<hr />
<form asp-area="Admin" asp-controller="Teacher" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <div>
                <label asp-for="FirstName" class="form-label"></label>
                <input class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="LastName" class="form-label"></label>
                <input class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="PricePerHour" class="form-label"></label>
                <input class="form-control" asp-for="PricePerHour" />
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="UserName" class="form-label"></label>
                <input class="form-control" asp-for="UserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Email" class="form-label"></label>
                <input class="form-control" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-warning mt-3">Kaydet</button>
        </div>
        <div class="col-3">

            <div class="mb-3 ">
                <label class="form-label" asp-for="Branches"></label>
                @foreach (var branch in Model.Branches)
                {
                    <div>
                        <input type="checkbox"
                           class="form-check-input"
                           name="selectedBranchIds"
                           value="@branch.Id"
                           @if (Model.SelectedBranchIds!=null)
                           {
                           @(Model.SelectedBranchIds.Any(sc=>sc==branch.Id) ? "checked" : "")
                           } />
                        <label>@branch.Name</label>
                    </div>
                }
                <span asp-validation-for="SelectedBranchIds" class="text-danger"></span>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</form>
