
@model OrderListItemDto
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalProductDelete_@Model.OrderListItemId">
    Detay Göster
</button>

<!-- Modal -->
<div class="modal fade" id="modalProductDelete_@Model.OrderId" tabindex="-1" aria-labelledby="modalLabelProductDelete_@Model.OrderId" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabelProductDelete_@Model.OrderId">Dikkat!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-3 ms-1">
                    
                </div>
            </div>

        </div>
    </div>
</div>





@*<a class="btn btn-danger btn-sm"
   asp-area="Admin"
   asp-controller="Product"
   asp-action="Delete"
   asp-route-id=@Model.Id>Sil</a>*@
